.modal-comparision__confirm {
    .ant-modal-content {
        border-radius: 10px;
        width: 350px;
    }
    .modal-comparision__content {
        flex-direction: column;
        .modal-comparision__content-title {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            color: #3f8cff;
        }
        .modal-comparision__content-des {
            text-align: center;
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            color: #0a1629;
        }
    }
    .ant-modal-confirm-btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        .ant-btn {
            border: 1px solid #3f8cff;
            box-sizing: border-box;
            border-radius: 7px;
            color: #3f8cff;
        }
        .ant-btn-primary {
            border-radius: 7px;
            background: #3f8cff;
            margin-right: 16px;
            color: #ffffff;
        }
    }
}

.modal-replay__confirm {
    .ant-modal-confirm-btns {
        .ant-btn-primary {
            background: #ffb531 !important;
            border: 1px solid #ffb531 !important;
        }
    }
}

.purchase-plan__confirm {
    .ant-modal-content {
        border-radius: 10px;
        width: 300px;
        height: 249px;
        .send-mail-success {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            color: #3f8cff;
        }
        .ant-modal-confirm-btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .ant-btn-primary {
                background: #3f8cff;
                border-radius: 7px;
            }
        }
    }
}

.modal-purchase-plan-type__confirm {
    .ant-modal-content {
        border-radius: 10px;
        width: 350px;
        height: 370px;
        .confirm {
            flex-direction: column;
        }
        .confirm-title {
            font-weight: normal;
            font-size: 11px;
            line-height: 18px;
            color: #e91616;
        }
        .confirm-content {
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            color: #0a1629;
        }
        .ant-modal-confirm-btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            .ant-btn {
                background: #ffffff;
                border: 1px solid #3f8cff;
                box-sizing: border-box;
                border-radius: 7px;
                span {
                    color: #3f8cff;
                }
            }
            .ant-btn-primary {
                background: #e91616;
                border-radius: 7px;
                border: 1px solid #e91616;
                margin-right: 20px;
                span {
                    color: #ffffff;
                }
            }
        }
    }
}

.modal-cancel__confirm {
    .modal-comparision__content-title {
        margin: 0px 51px;
        text-align: center;
    }
    .ant-modal-confirm-btns {
        .ant-btn-primary {
            background: #e91616 !important;
            border: 1px solid #e91616 !important;
            color: #ffffff;
        }
    }
}
