.purchase-request__container {
  .action__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .button__add {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #0b8ecc;
      cursor: pointer;
    }
  }
}


.template-modal__wrapper {
  padding: 60px 60px 30px 60px;
  width: 100%;
  height: 535px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .template-modal__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 435px;
    // padding: 30px 20px 20px 30px;

    .template-modal__image {
      width: 280px;
      height: 210px;
      margin: 21px 152px 21px 92px;
    }

    .template-modal__title {
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #333333;
      }
    }

    .template-modal__field {
      margin-top: 20px;
      display: block;
    }
  }

  .template-modal__action {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .btn-confirm {
      padding: 0.375rem 0.6rem !important;
      background-color: #3f8cff;
      color: #ffffff;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .btn-cancel {
      padding: 0.375rem 0.6rem !important;
      border: 1px solid #e91616 !important;
      background-color: #ffffff;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #e91616;
    }
  }
}

