.purchase-request-master {
    @mixin state {
        font-weight: 500;
        padding: 5px 20px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .draft-state {
        @include state();
        color: #778CA2;
        background: linear-gradient(0deg, #F2F4F6, #F2F4F6), #FFFFFF;
    }

    .pending-state {
        @include state();
        background: linear-gradient(0deg, rgba(255, 231, 186, 0.5), rgba(255, 231, 186, 0.5)), #FFFFFF;
        color: #FFB531;
    }

    .approved-state {
        @include state();
        color: #07BB4A;
        background: rgba(7, 187, 74, 0.1);
    }

    .reject-state {
        @include state();
        color: #E91616;
        background: linear-gradient(0deg, rgba(255, 128, 139, 0.1), rgba(255, 128, 139, 0.1)), #FFFFFF;
    }

    .created-purchase-plan {
        @include state();
        color: #3366FF;
        background: #EFF2FE;
    }
}