.page__navigation {
  padding: 25px 24px 0 24px;

  .btn.component__btn-filter:hover {
    color: #3f8cff;
  }
  .unselected-type {
    border: 2px solid transparent;
  }

  .selected-type {
    border: 2px solid #3f8cff;
  }
  .type-card {
    padding: 36px 62px 35px 49px;
    .type-card__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #3f8cff;
    }
    .type-card__des {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #606060;
      margin-top: 20px;
    }
  }
}
