.page__detail--approve {
  .category__title {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #4f4f4f;
  }

  .category__content {
    .category__item {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3f8cff;
    }
  }

  .general-field__container {
    display: flex;
    flex-direction: column;

    .general-field__first-row {
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #979797;
      }
    }

    .general-field__second-row {
      .general-field__circle-image {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
      }
    }
  }

  .purchase-order__container {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;

    .purchase-order__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #F2F4F6;
      padding: 10px;

      .item__left-side {
        display: flex;
        align-items: center;

        .left-side__icon {
          height: 40px;
          width: 40px;
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #F2F4F6;

          i {
            font-size: 18px;
          }
        }

        .left-side__content {
          display: flex;
          flex-direction: column;

          .content__first-row {
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 18px;
            color: #252631;
          }

          .content__second-row {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            text-decoration: underline;
            color: #3f8cff;
          }
        }
      }

      .item__right-side {
        display: flex;
        align-items: center;
        width: 300px;
        justify-content: space-between;
        
        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
        }

        .right-side__text {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          color: #252631;
        }
      }
    }
  }
}
