.principal-contract-container{
    .action__container {
        width: 100%;
        display: flex;
        .button__add {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: #0b8ecc;
          cursor: pointer;
        }
      }
}