.template-dialog__wrapper {
  width: 100%;
  display: flex;
  padding: 30px;

  .template-dialog__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .template-dialog__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #0A1629;
    }

    .btn-cancel {
      color: #E91616;

      i {
        font-size: 30px;
      }
    }

    .template-dialog__filter {
      display: block;
      background: #ffffff;
      box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.02);
      border-radius: 7px;
      width: 100%;
      padding: 20px 0px;
      margin-bottom: 30px;
    }

    .template-dialog__action {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .action__result {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #3f8cff;
      }

      .action__container {
        font-size: 13px;
        line-height: 18px;
        color: #333333;
      }
    }

    .template-dialog__list {
      display: block;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-height: 500px;
      overflow-y: scroll;
      flex-direction: column;

      .template {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid #F2F4F6;

        .button__add {
          background-color: #3f8cff;
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-sizing: border-box;
          height: 38px;
          border-radius: 7px;
          border: none;
          color: #ffffff;

          // i:not(.reset-icon),
          // span:not(.reset-label) {
          //   @include gradient-text();
          // }

          i {
            margin-right: 10px;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .template-title {
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #4F4F4F;
      }

      .template-date {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        color: #979797;
      }

      .list__card {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 150px;
      }
    }
  }
}